- var bs_css_source   = '/bootstrap/dist/css/bootstrap.min.css'
- var bs_js_source    = '/bootstrap/dist/js/bootstrap.min.js'
- var jquery_2_2      = 'http://code.jquery.com/jquery-2.2.0.min.js'
- var main_css_source = '/stylesheets/style.css'

title= title

// Jquery
script(src=jquery_2_2)

// Bootstrap 
link(rel='stylesheet', href=bs_css_source)
script(src=bs_js_source)

// Custom
link(rel='stylesheet', href=main_css_source)

